{% extends 'core/base.html' %}

{% block content %}

<form method="POST" action="{{url_for('Auth.login')}}">
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username(size=20) }}
    <br>
    {{ form.password.label }} {{ form.password(size=20) }}
    <br>
    {{ form.remember_me.label }} {{ form.remember_me }}
    <br><br>
    <input type="submit" value="Log In">
</form>

{% endblock %}